#map{
  padding: 0;
  margin: 0;
  width:80rem;
  padding-left:2rem;
  height:670px;
}
.leaflet-container{
  width:80rem;
  height:670px;
    z-index:0;
}
/*.leaflet-tile { border:  LightGrey 0.5px dashed; }*/
table{
  text-align:center;
  border-top-width:0px;
    border-bottom-width:0px;
}
td{
  text-align:left;
  font-weight:bold;
}

.gradient-line1{
  background-image: -webkit-linear-gradient(left,#3FA62E 0%,#3FA62E 50%,#E50743  60%,#3FA62E 80%,#E8ED30  85%);
}
.gradient-line2{
  background-image: -webkit-linear-gradient(left,#E50743 0%, #F9870F 15%, #E8ED30 60%, #3FA62E 85%);
}
.gradient-line3{
  background-image: -webkit-linear-gradient(left,#E50743 0%, #F9870F 15%, #E8ED30 60%, #3FA62E 85%);
}
.gradient-line4{
  background-image: -webkit-linear-gradient(left,#E50743 0%, #F9870F 15%, #E8ED30 60%, #3FA62E 85%);
}

